h1 {
    margin:10px 20px;
    display:block;
    text-align: center;
}
.navlink{
    display:inline;
}
.navbar{
    display:block;
    margin: auto;
    background-color: green;
   
    word-spacing:10px;
    position:fixed;
}
.image{
    
    border: 15px solid green;
    padding: 10px;
    margin:  50px auto 20px auto ;
    display:block;
}
div p {
    display:block;
    margin:auto;
    text-align: center;
}

.container{
    display:block;
    margin:auto;
    background-color:lemonchiffon;

}
.footer{
    background-color:green;
    text-align: center;
}